*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

.detail-page-wrapper{
    width: 100%;
    height: 100%;
    font-family: Biotif;
    background-image: url("../images/venom.jpg");
}
.side-nav-and-detail-wrapper{
    background-image: url("../images/gradient.png");
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-wrap: wrap;
}
.side-nav-contaier{
    width: 7.7em;
    border-right: 1px inset silver;
    min-height: 100vh;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*min-height: 100%;*/
}

.detail-container{
    width: 90%;
    margin-top:3.75em;
    /*height: 100vh;*/
    position: relative;
}
.logo-container{
    width: 94%;
    display: flex;
    justify-content: space-between;
}
.logo-name{
    background-image: url("../icons/viu-original.png");
    width: 12.2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5em;
}
.logo{
    background-image: url("../icons/viu-logo.png");
    width: 9.8em;
    height: 4em;
}

.title{
    color: white;
    font-size: 5em;
    padding:2px 0 2px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.short-description-li{
    line-height: 2;
    text-transform: capitalize;
}
.short-description{
    font-size: 1.4em;
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 6px;
    margin-right: 0.5em;
    padding: 4px;
    font-weight: 600;
}

.short-description-age{
    font-size: 1.4em;
    padding: 4px;
    font-weight: 600;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.87);
    background-color: transparent;
    border-radius: 6px;
    /*margin-right: 0.5em;*/
}

.description{
    width: 38.7em;
    margin: 1em 0px 2em 0px;
}

.description-para{
    font-family: Biotif-Regular;
    color: rgba(255, 255, 255, 0.84);
    font-size: 2em;

}

.play-btn-div{
    width: 5.6em;
    display: flex;
    justify-content: space-between;
    height: 3.6em;
    margin:  auto;
    padding: 2px;
}


.play-btn{
    background-color: white;
    width: 9em;
    border-radius: 0.75em;
}

.play-btn-icon{
    background-image: url("../icons/play-copy.png");
    display: inline-block;
    font-size: 5.75em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.play-btn-text{
    font-size: 1.7em;
    display: inline-block;
    margin-top: 11px;
    font-weight: 600;
    text-transform: capitalize;
}

.slider-dots{
    width: 9em;
    margin-top: 1.6em;
    display: flex;
    justify-content: space-around;

}
.dots{
    display: inline-block;
    width: 10px;
    height: 10px;
    opacity: 0.2;
    background-color: #ffffff;
    border-radius: 40%;

}

/*rils styling------>*/

.rails-container{
    width: 93%;
    /* margin-left: 7%; */
    /* margin-top: -24%; */
    position: absolute;
    bottom: 0;
    left: 135px;
    height: 28.4em;
    overflow: hidden;
}

.rail1-title{
    margin-left:2%;
    font-size: 1.75em;
    margin-bottom: 1em;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 600;
}
.rail2-title{
    margin-left:2%;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 600;
}
.rail-1,.rail-2{
    display: flex;
    justify-content: space-between;
}
.rail-card,.rail2-card{
    width: 24em;
    height: 14em;
    border-radius: 10px;
    border: 4px solid transparent;
    /*background-color: chartreuse;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rail-card1,.rail-card3,.rail-card5{
    background-image: url("../images/hero-thumbnail-3-x-1.png");
}

.rail-card2,.rail-card4,.rail2-card5{
    background-image: url("../images/cptM.png");
}



.rail-card5,.rail2-card5{
    background-position: left;
}

.rail2-card5,.rail-card5{
    width: 7.75em;
}

/*.rail2-card{*/
/*    height: 6.2em;*/
/*}*/

.rail2-card1,.rail2-card3{
    background-image: url("../images/bannerslider5.jpeg");
}

.rail2-card2,.rail2-card4{
    background-image: url("../images/bannerslider3.jpeg");
}


/*side-nav-on-hover----->*/

.side-nav-onhover{
    overflow: hidden;
    padding-top:18.75em;
    padding-bottom: 17.75em;
    padding-left: 19px;
    height: 100%;

    border:transparent;
    color: transparent;
}

.side-nav-onhover1 {
    background-image: url("../images/group-2.png");
    color:  rgba(255, 255, 255, 0.84);
    width: 25em;
    border:1px inset silver;
    transition: width 1s;
    background-color: transparent;
    padding-top:18.75em;
    padding-bottom: 17.75em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.side-nav-contaier:hover{
    border:2px inset transparent;
}

.search-onhover {
    width: 16em;
    height: 3em;
    display: flex;
}
.home-onhover {
    width: 16em;
    height: 3em;
    margin-top: 4em;
    display: flex;
}
.viu-onhover {
    width: 16em;
    height: 3em;
    margin-top: 4em;
    display: flex;
}
.profile-onhover{
    width: 16em;
    height: 3em;
    margin-top: 4em;
    display: flex;

}
.settings-onhover{
    width: 16em;
    height: 3em;
    margin-top: 4em;
    display: flex;
}

.search-icon-onhover{
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-image: url("../icons/search.png");
}

.home-icon-onhover{
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-image: url("../icons/ic-home.png");
}

.viu-icon-onhover{
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../icons/viu-originals.png");
    display: inline-block;
}
.profile-icon-onhover{
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-image: url("../icons/profile.png");
}
.settings-icon-onhover{
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    background-image: url("../icons/settings.png");
}

.search-name-onhover,.home-name-onhover,.viu-name-onhover,.profile-name-onhover,.settings-name-onhover{
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size: 2.2em;
    cursor: pointer;
}

/*focus-style ----->*/

.rail-card:focus{
    border:4px solid white;
    border-radius: 10px;
}
.rail2-card:focus{
    border:4px solid white;
    border-radius: 10px;
}
.side-nav:focus{
    outline: none;
    color: white;
    font-weight: bolder;
}